$basicColor: #CC161D;
section {
    margin: 20px 0px;
}
.increments > div {
    flex: 1;
}
.increments {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    
    .leftSideImg {
        min-width: 300px;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
    .rightSide {
        .normalView {
            display: block;
            .firstNum, .secondNum, .thirdNum, .forthNum { color: $basicColor; white-space: nowrap; }
        }
    }
}
.fakeView {
    display: none;
    .firstNum, .secondNum, .thirdNum, .forthNum { color: $basicColor; white-space: nowrap; }
}
.unincrements > div {
    flex: 1;
}
.unincrements {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    .leftSideImg {
        flex-grow: 1;
        min-width: 300px;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 2;
        h3 { color: $basicColor; }
        span { white-space: nowrap; }
        .normalView {
            display: block;
        }
    }
}
.lastSection {
    img { width: 100%; border-radius: 20px;}
    .row > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 0px;
        h3 { color: $basicColor; }
        button {
            background-color: $basicColor;
            border: unset;
            padding: 10px 50px;
            border-radius: 8px;
            color: #fff;
        }
    }
}
@media only screen and (min-width: 484px) and (max-width: 991px) {
    .normalView {
        display: none !important;
    }
    .fakeView {
        display: block !important;
    }
}
@media only screen and (max-width: 483px) {
    .unincrements > div {
        flex: unset;
    }
}